.WatchBase {
    position: absolute;
    height: 312px;
    width: 270px;
}

.content {
    position: relative;
    height: 290px;
    width: 240px;
    overflow: hidden;
    border-radius: 57px;
    right: -8px;
    bottom: -9px;
}

.bg {
    position: relative;
    color: rgb(255, 255, 255);
}

.bg img {
    height: 300px;
    width: 240px;
    z-index: -1;
    border-radius: 65px;
}

.time {
    position: relative;
    bottom: 245px;
    text-align: center;
}

.time h4 {
    font-size: 50px;
    margin: 5px 0;
}

.time p {
    font-size: 25px;
    margin: 0;
}

@keyframes swipe {
    0% {
        top: 0;
    }

    100% {
        top: -400px;
    }
}

.swipe {
    animation-name: swipe;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bg .watch_icon {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.icon1 {
    bottom: 175px;
    right: -95px;
}

.icon2 {
    bottom: 200px;
    right: 10px;
}

.icon3 {
    bottom: 200px;
    right: -40px;
}

.icon4 {
    bottom: 230px;
    right: 65px;
}

.icon5 {
    bottom: 195px;
    right: -50px;
}

.icon6 {
    bottom: 195px;
    right: -90px;
}

.icon7 {
    bottom: 170px;
    right: 10px;
}

.settings {
    display: none;
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 290px;
    width: 240px;
    border-radius: 65px;
    bottom: 280px;
    right: -8px;
    z-index: 2;
}

.settings .change_lockscreen {
    margin-top: 30px;
}

.settings button {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
    margin: 0 50px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 2px solid black;
    padding: 0;
    width: 140px;
    height: 36px;
}


@keyframes open_prog {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

.wallpaper {
    display: none;
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 290px;
    width: 240px;
    border-radius: 65px;
    bottom: 570px;
    right: -8px;
    z-index: 2;
}

.wallpaper img {
    height: 58px;
    width: 48px;
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 10px;
}

.wallpaper button {
    border: none;
    padding-left: 33px;
    background-color: black;
}

.wallpaper .back_button_wallpaper {
    width: 85px;
    height: 40px;
    border: none;
    margin: 0;
}

.maps {
    display: none;
    position: relative;
    bottom: 280px;
    right: -8px;
    z-index: 2;
}

.maps iframe {
    border-radius: 65px;
}

.weather {
    display: none;
    position: relative;
    height: 290px;
    width: 240px;
    border-radius: 65px;
    bottom: 280px;
    right: -8px;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.weather .back_button_weather {
    width: 85px;
    height: 40px;
}

.weather h2 {
    margin: 15px;
    margin-bottom: 0;
}

.weather img {
    height: 80px;
    width: 80px;
}

.weather h1 {
    margin: 0;
}

.сountdown {
    display: flex;
}

.timer {
    display: none;
    position: relative;
    height: 290px;
    width: 240px;
    border-radius: 65px;
    bottom: 280px;
    right: -8px;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.timer .back_button_timer {
    width: 85px;
    height: 40px;
}

.closetimer {
    margin-top: 40px;
    margin-left: 30px;
    background-color: black;
    padding: 0;
    border: none;
}

.canceltimer {
    margin-top: 15px;
    margin-left: 57px;
    border: 0;
    padding: 0;
    background-color: black;
}

.canceltimer img {
    width: 60px;
    height: 60px;
}

.continuationtimer {
    margin-top: 15px;
    margin-left: 15px;
    border: 0;
    padding: 0;
    background-color: black;
}

.continuationtimer img {
    width: 60px;
    height: 60px;
}

.pausetimer {
    margin-top: 15px;
    margin-left: 15px;
    border: 0;
    padding: 0;
    background-color: black;
}

.pausetimer img {
    width: 60px;
    height: 60px;
}

.numbers {
    margin-left: 50px;
}

.numbers input {
    height: 50px;
    width: 30px;
}

.numbers p {
    display: inline-block;
    margin: 0;
    font-size: 35px;
}

.starttimer {
    margin-top: 15px;
    margin-left: 95px;
    border: 0;
    padding: 0;
    background-color: black;
}

.starttimer img {
    width: 60px;
    height: 60px;
}

.timeranimation {
    height: 10px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 15px;
    overflow: hidden;
}

.scale {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    left: 0px;
}

@keyframes timer {
    0% {
        left: -180px;
    }

    100% {
        left: 0;
    }
}

.open_app {
    display: block;
    animation-name: open_prog;
    animation: 2s;
    animation-fill-mode: forwards;
}

.timeranim {
    animation-name: timer;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.settings .back {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -15px;
    left: 25px;
}

.settings .back .img_back {
    height: 20px;
    width: 20px;
}

.settings .back .p_back {
    color: rgb(10, 132, 255);
    font-size: 20px;
}

.wallpaper .back {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -15px;
    left: 25px;
}

.wallpaper .back .img_back {
    height: 20px;
    width: 20px;
    margin: 0;
}

.wallpaper .back .p_back {
    color: rgb(10, 132, 255);
    font-size: 20px;
}

.weather .back {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -15px;
    left: 25px;
}

.weather .back .img_back {
    height: 20px;
    width: 20px;
}

.weather .back .p_back {
    color: rgb(10, 132, 255);
    font-size: 20px;
}

.maps .back {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 275px;
    left: 25px;
}

.maps .back .img_back {
    height: 20px;
    width: 20px;
}

.maps .back .p_back {
    color: rgb(10, 132, 255);
    font-size: 20px;
}

.timer .back {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -15px;
    left: 25px;
}

.timer .back .img_back {
    height: 20px;
    width: 20px;
}

.timer .back .p_back {
    color: rgb(10, 132, 255);
    font-size: 20px;
}